[submodule "DevOps/DevOps/D01_Linux_ID_356272-1"]
	path = DevOps/DevOps/D01_Linux_ID_356272-1
	url = https://github.com/JustDimDim12/my_s21_projects
[submodule "DevOps/D01_Linux_ID_356272-1"]
	path = DevOps/D01_Linux_ID_356272-1
	url = https://github.com/JustDimDim12/my_s21_projects
